
.circle-container {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  position: absolute;
  top: 20%;
  left:50%;
  font-size: 18px;
}

.left {
  background-color: orange;
}

.right {
  background-color: darkgray;
}

.center {
  background-color: #fb6a4a;

}
.circle {
  position: relative;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin-left: -3rem;
  margin-top: -3rem;
  opacity:0;
}

.circle-container .circle.center {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  margin-left: -5rem;
  margin-top: -5rem;
  opacity:0.5;
}
