* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 18px;
}
#scrollable {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  position: relative;
}
#scrollable > * {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.inner {
  padding: 20rem 2rem 35rem;
}
.inner > *+* { /* '>' means direct child (just space any children), '*+*' means anything with any sibling before it */
  margin-top: 1rem;
}
.paragraph {
  font-size: 1rem;  /* based on html font size - 1.1rem slightly bigger*/
  color: hsl(0, 0%, 80%); /*  H is the hue measured in degrees of the color circle (red = 0°; green = 120°; blue = 240°). S is the saturation (100% full saturation, 0% is a shade of gray); L is the lightness (100% is white, 0% is black, 50% is 'normal')*/
}
.paragraph.highlight {
  color: black;
}
small {
  padding: 0 0 0 10px ;
  display:block;
 }
.bubble {
  border-radius: 50%;
  background-color: gray;
  width: 55px;
  height: 55px;
  position:relative;
  left: -45px;
  top: 60px;
  margin: 10px;
  opacity: 0.7;
}
.svg-background {
    background-color: white;
    height: 49%;
    width: 90%;
    position: absolute;
    top: 0px;
    pointer-events: none;
}
.bubble.hidden {
  opacity: 0;
}

@keyframes move-to-svg {
   100% {
    transform: translate(-30px, -150px);
  }
}

.svg-bubble {
  fill: gray;
  radius: 30px;
  animation: move-to-svg .5s 1;
}

#canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
