#scrollable {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
.page-centered {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.scrollable-inner {
  padding: 25rem 2rem 35rem;
}

#fixed {
  height: 45%;
  width: calc(100% - 15px);
  position: absolute;
  top: 0px;
  pointer-events: none;
  background-color: white;
}

#bubbles-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 15px);
  height: 100%;
  pointer-events: none;
  overflow: visible;
}

.venn-bubbles-container {
    max-width: 600px;
    height: 350px;
    overflow: visible;
    margin: 0 auto;
    position: relative;
}

.bigbubble-canvas1 {
  width: 100%
  height: 100%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

/* paragraph stuff */
.paragraph {
  font-size: 1rem;  
  color: hsl(0, 0%, 80%); 
  margin: 0px;
  padding: 20px 0px;
}

.paragraph .move-bubble {
  color: black;
}

small {
  padding: 0 0 0 10px ;
  display:block;
 }

.bubble-container {
  height: 0px;
  position:relative;
}
.bubble {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: absolute;
  left: -40px;
  margin: 10px;
  opacity: 0.7;
  background-color: lightgray;
}

.bubble .hidden {
  opacity: 0;
}

/* Venn bubbles */
.bigbubble {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  opacity: 0.7;
}

.group1 {
  background-color: salmon;
  display: inline-block;
  position: absolute;
  top:5%;
  right: 0;
}

.group2 {
  background-color: orange;
  display: inline-block;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  position: absolute;
  top: 5%;
  right: 20%;
}

.group3 {
  background-color: steelblue;
  display: inline-block;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  position: absolute;
  top: 30%;
  right: 10%;
}


.smallbubble {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  opacity: 0.7;
  position: absolute;
  background-color: lightblue;
}
/*
.svg-bubble {
  fill: gray;
  radius: 30px;
  animation: move-to-svg .5s 1;
}*/


