* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  overflow-y: hidden;
}
html {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 100;
}

@media (max-width: 500px){
  html {
    font-size: 15px;
  }
}

#scrollable {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

#page-centered {
  width: calc(100% - 4rem);
  max-width: 600px;
  margin: 0 auto;
}
.scrollable-inner {
  padding: 27em 2rem 35rem;
}

#fixed {
  height: 50%;
  width: calc(100% - 15px);
  position: absolute;
  top: 0px;
  pointer-events: none;
  background-color: white;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.canvas {
  height: 100%;
  overflow: visible;
  position: relative;
}
.filter {
  -webkit-filter: url("#goo");
  filter: url("#goo");
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* paragraph stuff */
.paragraph {
  font-size: 1rem;  
  color: hsl(0, 0%, 80%); 
  margin: 0px;
  padding: 30px 0px;
  color:#2f4f4f;
  cursor: pointer;
}

.paragraph.move-bubble {
  color: black;
}

small {
  padding: 0 0 0 10px ;
  display:block;
  opacity: 0;
 }

/*.show-description p {
  height: 150px;
}*/

.show-description small {
  opacity: 1;
}

.text-bubble-container {
  left: -30px;
  top: -2px;
  height: 0px;
  position:relative;
}

[data-group="1"] {
  background:linear-gradient(#f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

[data-group="2"] {
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

[data-group="3"] {
  background: linear-gradient(to top, #4481eb 0%, #04befe 100%);;
}
.text-bubble {
  border-radius: 50%;
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  left: -20px;
  opacity: 0.8;
}

.text-bubble.hidden {
  opacity: 0;
}

/* Venn bubbles */
.bigbubble {
  width: 10rem;
  height: 10rem;
  margin: -5rem;
  border-radius: 50%;
}

#group1 > * {
  background: linear-gradient(-225deg, #FF719A 0%, #FFA99F 48%, #FFE29F  100%);
  position: absolute;
}

#group2 > * {
  /*background-color: #fb6a4a;*/
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  position: absolute;
}

#group3 > * {
  background: linear-gradient(to top, #4481eb 0%, #04befe 100%);;
  position: absolute;
}

#group1 > .bigbubble {
  top: 6rem; /*7*/
  right: 10rem; /* right: 7*/
}
#group2 > .bigbubble {
  top: 8rem; /*7*/
  right: 35rem; /*right 13*/
}
#group3 > .bigbubble {
  top: 10rem; /*12*/
  right: 22rem; /*right 10*/
  /*cursor: pointer;*/
}
.smallbubble {
  width: 3rem;
  height: 3rem;
  margin: -1.5rem;
  border-radius: 50%;
}
