* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  overflow-y: hidden;
}
html {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 100;
}

@media (max-width: 500px){
  html {
    font-size: 15px;
  }
}

#scrollable {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

#page-centered {
  width: calc(100% - 4rem);
  max-width: 600px;
  margin: 0 auto;
}
.scrollable-inner {
  padding: 27em 2rem 35rem;
}

#fixed {
  height: 50%;
  width: calc(100% - 15px);
  position: absolute;
  top: 0px;
  pointer-events: none;
  background-color: white;
  /*opacity: 0.7;*/
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.canvas {
  height: 100%;
  overflow: visible;
  position: relative;
}
.filter {
  -webkit-filter: url("#goo");
  filter: url("#goo");
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.filter > * {
  position: absolute;
}


/* paragraph stuff */
.paragraph {
  font-size: 1rem;  
  color: hsl(0, 0%, 80%); 
  margin: 0px;
  padding: 30px 0px;
  color:darkgrey;
}

.paragraph.move-bubble {
  color: black;
}

small {
  padding: 0 0 0 10px ;
  display:block;
 }

.text-bubble-container {
  left: -30px;
  top: -2px;
  height: 0px;
  position:relative;
}

[data-group="1"] {
  background-color: darkgrey;
}

[data-group="2"] {
  background-color: #fb6a4a;
}

[data-group="3"] {
  background-color: #67001f;
}
.text-bubble {
  border-radius: 50%;
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  left: -20px;
  opacity: 0.9;
}

.text-bubble.hidden {
  opacity: 0;
}

/* Venn bubbles */
.bigbubble {
  width: 10rem;
  height: 10rem;
  margin: -5rem;
  border-radius: 50%;
}

#group1 > * {
  background-color: darkgrey;
}
#group2 > * {
  background-color: #fb6a4a;
}
#group3 > * {
  background-color: #67001f;
}
#group1 > .bigbubble {
  top: 7rem;
  right: 7rem; /*7*/
}
#group2 > .bigbubble {
  top: 7rem;
  right: 13rem;
}
#group3 > .bigbubble {
  top: 12rem; /*12*/
  right: 10rem; /*10*/
  cursor: pointer;
}

.smallbubble {
  width: 3rem;
  height: 3rem;
  margin: -1.5rem;
  border-radius: 50%;
}

.endpoint {
  width: 1rem;
  height: 1rem;
  margin: -0.5rem;
  border-radius: 50%;
  opacity: 0;
}

/*add an extra 3 rem to top - so fast moving bubbles dont overshoot*/
#group1 > .endpoint {
  top:10rem;
  right:7rem;
}
#group2 > .endpoint {
  top:10rem;
  right:13rem;
}
#group3 > .endpoint {
  top: 15rem;
  right: 10rem;
}

